<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">	
	<display-name>BITC</display-name>

	<context-param>
		<param-name>configfile</param-name> 
	 	<!--<param-value>c:/htdocs/configs/Bitc_V2/application.cfg</param-value>  -->
        <param-value>D:/bitc_config/application.cfg</param-value>
	</context-param>
	<context-param>
		<param-name>configfile_alt</param-name>
		<param-value>/home/tho/sourcecode/bitc_config/application.cfg</param-value>
	</context-param>
	<context-param>
	  <param-name>configdir</param-name> 
	 <!--<param-value>c:/htdocs/configs/Bitc_V2/</param-value>-->
      <param-value>D:/bitc_config</param-value>
	</context-param>
  	<context-param>
		<param-name>configdir_alt</param-name>
		<!--param-value>c:/eclipse/workspace/trunk_Bitc_V2/config/</param-value-->
		<param-value>/home/tho/sourcecode/bitc_config/</param-value>
	</context-param>
	<filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<filter-class>com.wanabe.core.controller.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>MlrsFilter</filter-name>
		<filter-class>com.wanabe.core.mlrs.MlrsFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AgendabeFilter</filter-name>
		<filter-class>com.bitc.controller.AgendabeFilter</filter-class>
	</filter>
	<filter>
		<filter-name>ParseFilter</filter-name>
		<filter-class>com.wanabe.core.controller.ParseFilter</filter-class>
	</filter>
	<!--  
	<filter>
		<filter-name>DomainFilter</filter-name>
		<filter-class>com.wanabe.core.domainfilter.DomainFilter</filter-class>
	</filter>	
	-->
	<filter>
		<filter-name>AccessFilter</filter-name>
		<filter-class>com.bitc.controller.AccesFilter</filter-class>
	</filter>
	<filter>
		<filter-name>LogFilter</filter-name>
		<filter-class>com.wanabe.core.controller.LogFilter</filter-class>
	</filter>
	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>com.wanabe.core.controller.SecurityFilter</filter-class>
	</filter>
	<filter>
		<filter-name>ActionFilter</filter-name>
		<filter-class>com.wanabe.core.controller.ActionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AgendabeFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MlrsFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ParseFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ParseFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<!-- 
	<filter-mapping>
		<filter-name>DomainFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>	
	 -->
	<filter-mapping>
		<filter-name>AccessFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>		
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ActionFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>  
	<!-- 
 	<servlet>
		<servlet-name>DoSrvlt</servlet-name>
		<display-name>DoSrvlt</display-name>
		<servlet-class>com.wanabe.srvlt.DoSrvlt</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>DoSrvlt</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoSrvlt</servlet-name>
		<url-pattern>/*.do</url-pattern>
	</servlet-mapping>
	 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

    <resource-ref>
   		<res-ref-name>jdbc/devbitc</res-ref-name>
   		<res-type>javax.sql.DataSource</res-type>
   		<res-auth>CONTAINER</res-auth>

   	</resource-ref>

   	<resource-ref>
   		<res-ref-name>jdbc/bitc</res-ref-name>
   		<res-type>javax.sql.DataSource</res-type>
   		<res-auth>CONTAINER</res-auth>

   	</resource-ref>


</web-app>