Test
#map_canvas_container{
  position: relative;
  width: 1200px;
}
#map_canvas{
  width: 1200px;
  height: 800px;
}
.well{
  position: absolute;
  top: 35px;
  right: 10px;
  z-index: 999;
}
form select{
  width:  150px;
}