<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BITC</title>
</head>
<body style=" margin:0; padding:0; background-color:#fff;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="600">&nbsp;</td>
        </tr>
        <tr>
          <td width="600" height="115"><img src="http://visitbrussels.be/bitc/static/front/img/ml/top_city.jpg" width="600" height="115" style="display:block;"/></td>
        </tr>
        <tr>
          <td width="600"><table width="600" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="55">&nbsp;</td>
                <td width="490" align="left" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#101619; line-height:18px;"><br />
                  <span style=" font-family:Georgia, 'Times New Roman', Times, serif; font-size:18px; color:#101619; font-style:italic;">Dear &FIRSTNAME;,</span><br />
                  <div style="font-size: 12px;font-weight: bold;margin-top: 30px;margin-bottom: 20px;">Thank you for your payment, the order has been registered.</div>
                  <div style="font-size: 12px;margin-top: 20px;margin-bottom: 20px;">
                  If you ordered printed version brochures, they will be sent promptly by postal mail to the mentioned address.<br/><br />
                  </div>
                  We confirm your order of <strong>&EURO; &euro;</strong> on the site of Visitbrussels.<br />
                  Your reservation code is <strong>&CODE;</strong>.<br />
                  <br />
                  <a href="http://visitbrussels.be/bitc/front/eshop/displayEshopConfirmation/lg/en.do?cid=&CODE;" target="_blank" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#43b6e8;">Click here</a> to check and print your vouchers.<br />
                  <div style="margin-top:20px">Address data:</div>
                  <div style="margin-left:20px;margin-bottom:30px;font-size:10px;">
                  &NAME;<br />
                  &ADDRESS;<br />
                  &LOCATION;<br />
                  &COUNTRY;
                  </div>
                  <div style="margin-top:20px">Order data:</div>
                  <div style="margin-left:20px;margin-bottom:30px;font-size:10px;">
                      &ORDERROWS_HTML;
                  </div>
                  Kind regards, <br />
                  The Visitbrussels' team<br />
                  <br /></td>
                <td width="55">&nbsp;</td>
              </tr>
              <tr>
                <td width="55">&nbsp;</td>
                <td width="490" height="50" align="right" valign="middle" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#101619; font-style:italic;"> <img src="http://visitbrussels.be/bitc/static/front/img/ml/logo_visitbrussels.png" width="150" height="20" hspace="5"/></td>
                <td width="55">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td width="600" height="1" style="background-color:#cdcdcd;"></td>
        </tr>
        <tr>
          <td width="600" height="8" style="background-color:#323232;"></td>
        </tr>
      </table></td>
  </tr>
</table>
<img src="http://ai0.be/wa/p.gif?m=4B90F1BFB568F321&i=&DESTID;" border="0" height="1" width="1">
</body>
</html>
