/* SpryValidationRadio.css - version 0.1 - Spry Pre-Release 1.5 */

/*IMAGE VALID*/
.validMsg {
	display:none;
}
.passwordValidState .validMsg, .confirmValidState .validMsg {
	display:inline;
	margin:10px 0 0 10px;
}
.form_login .passwordValidState .validMsg {
	position:absolute;
	top:5px;
	left:230px;
}
/*IMAGE ERROR*/
.errorMsg {
	display:none;
}
.passwordRequiredState .errorMsg, .passwordRequiredMsg .errorMsg, .passwordInvalidFormatState .errorMsg, .passwordInvalidFormatMsg .errorMsg, .passwordMinValueState .passwordMinValueMsg .errorMsg, .passwordMaxValueState .passwordMaxValueMsg .errorMsg, .passwordMinCharsState .passwordMinCharsMsg .errorMsg, .passwordMaxCharsState .passwordMaxCharsMsg .errorMsg {
	display:inline;
	margin:10px 0 0 10px;
}
.form_login .passwordRequiredState .errorMsg, .form_login .passwordRequiredMsg .errorMsg, .form_login .passwordInvalidFormatState .errorMsg, .form_login .passwordInvalidFormatMsg .errorMsg{
	position:absolute;
	top:5px;
	left:230px;
}
/*TEXTE ERROR*/
.passwordRequiredMsg, .passwordInvalidStrengthMsg, .passwordMinCharsMsg, .passwordMaxCharsMsg, .passwordCustomMsg, .passwordValidMsg {
	display: none;
}
.passwordRequiredState .passwordRequiredMsg, .passwordMinCharsState .passwordMinCharsMsg, .passwordMaxCharsState .passwordMaxCharsMsg, .passwordInvalidStrengthState .passwordInvalidStrengthMsg, .passwordCustomState .passwordCustomMsg {
	display:block;
	margin-left:260px;
	margin-bottom:15px;
	line-height:10px;
	color:#fa869b;
	font-size:10px;
	font-weight:normal;
	width:230px;
}
.form_login .passwordRequiredState .passwordRequiredMsg, .form_login .passwordMinCharsState .passwordMinCharsMsg{
	display:block;
	margin-left:0px;
	margin-bottom:15px;
	line-height:10px;
	color:#fa869b;
	font-size:10px;
	font-weight:normal;
	width:230px;
}