/* CSS crunched with Crunch - http://crunchapp.net/ */
/* BITC (visitbrussels.be) - FOR MINISITE ONLY  */
/* ******************************************** */
/* Fonts */
@font-face {
  font-family: 'mijabold';
  src: url('../fonts/mija-bold-webfont.eot');
  src: url('../fonts/mija-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mija-bold-webfont.woff') format('woff'), url('../fonts/mija-bold-webfont.ttf') format('truetype'), url('../fonts/mija-bold-webfont.svg#myriad_web_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* overwrite screen.css styles */
body.minisite {
  background: #000000;
  background-image: url('/bitc/static/minisite/img/bfo/ml/background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}
#content {
  margin-top: 35px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 25px;
  /* background-color : #fff; */

  background-image: url('/bitc/static/minisite/img/bfo/ml/content-background.png');
  background-repeat: repeat-y;
  font-family: Verdana, arial, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  color: #000000;
}
#content #btn_back,
#content .form_send,
#content .tab_paging {
  font-size: 12px;
  line-height: 14px;
  color: inherit;
}
#content a {
  color: #273361;
}
#loader {
  display: none;
}
#collapse {
  height: 100px;
}
#collapse_content {
  height: 100px;
}
#btn_back {
  float: right;
}
#expand_content {
  margin: 0 auto;
  width: 1200px;
  height: 355px;
  position: relative;
  top: 35px;
  display: none;
}
#ribbon_bottom {
  background-color: #fff;
}
#content_main h1,
#content_main .h1-like {
  font-family: mijabold, arial, sans-serif;
  font-weight: normal;
  color: #273361;
  line-height: 1.2em;
  margin-bottom: 0.4em;
  font-size: 28.6px;
}
#content_main h2,
#content_main .h2-like {
  font-family: mijabold, arial, sans-serif;
  font-weight: normal;
  color: #273361;
  line-height: 1.2em;
  margin-bottom: 0.4em;
  font-size: 23.400000000000002px;
}
#content_main h3,
#content_main .h3-like {
  font-family: mijabold, arial, sans-serif;
  font-weight: normal;
  color: #273361;
  line-height: 1.2em;
  margin-bottom: 0.4em;
  font-size: 19.5px;
}
#content_main ul {
  margin: 0 0 10px 10px;
}
#content_main ul li {
  padding: 0 0 0 10px;
  margin: 0 0 10px 0;
}
#main_content a {
  color: #273361;
}
a.btn_more_info {
  height: 15px;
  padding-top: 7px;
  padding-bottom: 3px;
  background-color: #24262f;
  font-family: Verdana, arial, sans-serif;
  font-weight: bold;
  color: #eeeeee !important;
  background-image: url('/bitc/static/minisite/img/bfo/ml/more_info_bg.png');
  font-size: 10.4px;
  background-repeat: no-repeat;
  background-position: 83px 6px;
  line-height: 1em;
}
a.btn_more_info:hover {
  background-color: #24262f;
  background-image: url('/bitc/static/minisite/img/bfo/ml/more_info_bg.png');
  background-repeat: no-repeat;
  background-position: 83px 6px;
  text-decoration: underline;
}
ul#top_nav {
  width: auto;
}
#top_content form {
  top: 8px;
  left: 935px;
}
form#f_search {
  display: none;
}
/* Front page content */
/*
div.scrollable{
	width : 100%;
    height : auto;
    overflow : visible;
    .items{
        width : 100%;
        position : static;
        div{
            float : none;   
        }
    }
}

.first_highlight_home_slide div{
    float : none !important;
    width : 100% !important;
    margin : 0 !important;
    padding : 0;
}
*/
/* End front page content */
div.first_highlight_home div.navi a:hover {
  background-color: #273361;
  border: 1px solid #24262f;
  font-family: Verdana, arial, sans-serif;
}
div.first_highlight_home div.navi a.active {
  background-color: #273361;
  border: 1px solid #24262f;
  font-family: Verdana, arial, sans-serif;
}
div.book_stay {
  background-color: #24262f;
  background-image: none;
  padding: 10px 5px 10px 5px;
}
div.book_stay label {
  color: #fff;
}
div .second_highlight_home {
  margin: 5px 0 5px 0;
  border-top: 6px solid #273361;
  padding: 15px 0 20px 0;
  /* border-top : none; */

  position: relative;
  top: -20px;
  height: 300px;
}
div .second_highlight_home .btn {
  bottom: 15px;
}
div .second_highlight_home h3 {
  font-size: 19.5px;
  height: 24px;
  color: #fff;
}
div .second_highlight_home h3 a {
  color: #273361;
  text-decoration: none;
}
#listComment {
  margin-top: 25px;
}
#content_main ul.tab_list_complete {
  margin: 0;
  padding: 0;
}
#content_main ul.tab_list_complete li {
  margin: 0 0 0 10px;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #273361;
}
div#collapse_content img {
  display: none;
}
/* new styles */
#mini_site_top {
  margin: 0 0 0 135px;
  width: 930px;
  height: auto;
  background-image: url('/bitc/static/minisite/img/bfo/ml/header.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
}
#mini_site_top img {
  margin: 0;
}
#mini_site_top img .arrowsep {
  margin: -3px 0 0 0;
}
#mini_site_top h1 {
  position: absolute;
  text-indent: -3000px;
}
#title h1.title_h1 {
  position: absolute;
  text-indent: -3000px;
}
#mini_site_nav_ul {
  background: #24262f;
  width: 253px;
  padding: 10px 20px 20px 15px;
  font-family: mijabold, arial, sans-serif;
  font-size: 17.55px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 33px 0 22px 0;
}
#mini_site_nav_ul li {
  background: transparent url('/bitc/static/minisite/img/bfo/ml/minisite_menu_bullet.png') no-repeat 4px 1px;
  padding: 0 0 6px 35px;
  margin: 3px 0;
}
#mini_site_nav_ul li a {
  text-decoration: none;
  /* text-transform:uppercase; */

  color: #eeeeee;
  padding: 1px 5px 1px 0;
}
#mini_site_nav_ul li a:hover {
  color: #eeeeee;
  text-decoration: underline;
}
/* Special stuff for bfo only */
#box_right_information {
  float: none;
}
#feature_pratical_information {
  width: 130px;
  float: right;
}
.m22 {
  float: left;
  margin-right: 10px;
}
#pratical_information {
  width: auto;
  margin-left: 0;
  padding: 0;
  background: none;
  border: none;
  overflow: visible;
}
#pratical_information h4 {
  font-family: Verdana, arial, sans-serif;
}
#pratical_information p {
  margin-left: 0;
}
#pratical_information span {
  margin-left: 0;
}
#pratical_information ul#pesonTable {
  list-style: disc inside;
  width: 620px;
}
.bfo_spot #pratical_information {
  padding-left: 180px;
}
#listComment {
  display: none;
}
