/* BITC (visitbrussels.be) - FOR MINISITE ONLY  */
/* ******************************************** */

/* Font */

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/LeagueGothic-Regular-webfont.eot');
    src: url('../fonts/LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LeagueGothic-Regular-webfont.woff') format('woff'),
         url('../fonts/LeagueGothic-Regular-webfont.ttf') format('truetype'),
         url('../fonts/LeagueGothic-Regular-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* overwrite screen.css styles */
body.minisite{
	background-color : #fff;
	color : #000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	/* background: #f6bad6; */
	background-image : url('/bitc/static/minisite/img/monument/ml/background.jpg');
	background-repeat : no-repeat;
	background-position : center 150px;
}
#content{
	margin-top : 35px;
	margin-bottom : 0;
	padding-top : 10px;
	padding-bottom : 25px;
	/* background-color : #fff; */
	background-image : url('/bitc/static/minisite/img/monument/ml/content_background.png');
	background-repeat : repeat-y;
	background-position : center;
}

#content_main{
	margin-top : 8px;
}

#nav_sub, #footer{
	display : none;
}

#loader{ display: none;}
#collapse{ height: 100px;}
#collapse_content{ height: 100px;}
#btn_back{ float: right;}
#expand_content { margin:0 auto; width:1200px; height:355px; position:relative; top: 35px; display:none}

#content h1{
	font-family : LeagueGothicRegular, Arial, Helvetica, sans-serif;
	text-transform : uppercase;
	letter-spacing : 1px;
	color : #000;
	font-weight : normal;
	margin-bottom : 15px;
	line-height : 30px;
	padding : 0 0 11px 0;
	border-bottom : 8px solid #bab9be;
}

#content h2{
	font-family : LeagueGothicRegular, Arial, Helvetica, sans-serif;
	text-transform : uppercase;
	letter-spacing : 1px;
	color : #000;
	font-weight : normal;
}

#content h2 a{
	text-decoration : none;
	text-transform : uppercase;
	letter-spacing : 1px;
	color : #000;
	font-weight : normal;
}

#content h2 a:hover{
	text-decoration : underline;
}

#content h3{
	font-family : LeagueGothicRegular, Arial, Helvetica, sans-serif;
	margin-bottom : 10px;
	text-transform : uppercase;
	letter-spacing : 1px;
	color : #000;
	font-weight : normal;
	font-size : 22px;
}

#content h3 a{
	text-decoration : none;
	color : #000;
}

#content h3 a:hover{
	text-decoration : underline;
}

#ribbon_bottom{
	background-color : #fff;
}
/* new styles */
#mini_site_top{margin: 0 0 0 135px; width:930px;}
	#mini_site_top img{margin : 0 0 0 0;}
	#mini_site_top img.arrowsep{margin:-3px 0 0 0;}
#mini_site_top h1, #title h1.title_h1{
	position : absolute;
	text-indent : -3000px;
	left : -3000px;
}

#mini_site_nav_ul { background:#DFDFE1; width: 248px; padding:2px 20px 8px 20px; font-family : LeagueGothicRegular, Arial, helvetica, sans-serif; font-size: 25px; font-weight: regular; letter-spacing : 1px; margin:33px 0 0 0;border-bottom : 8px solid #BAB9BE;}
	#mini_site_nav_ul li{/* background:transparent url(/bitc/static/minisite/img/monument/ml/bullet.png) no-repeat left 3px; */ padding:0 0 0 1px; margin: 3px 0;}
		#mini_site_nav_ul li a{
			text-decoration:none;
			text-transform:uppercase;
			color: #000;
			/* padding : 1px 3px 0 3px; */
		}
		#mini_site_nav_ul li a:hover{
			/* background-color: #F756AF;*/ 
			text-decoration : underline;
		}
		
/* Button more info */

a.btn_more_info{
	background-image : url('/bitc/static/minisite/img/monument/ml/more_info_btn.png');
	padding-top : 2px;
	background-color : #BAB9BE;
	background-repeat : no-repeat;
	background-position : 88px 4px;
	padding : 3px 4px 3px 4px;
}
a.btn_more_info:hover{
	background-image : url('/bitc/static/minisite/img/monument/ml/more_info_btn.png');
	background-color : #BAB9BE;
	background-repeat : no-repeat;
	background-position : 88px 4px;
	text-decoration : underline;
}

div.first_highlight_home div.navi a:hover{
	border : 1px solid #414141;
}

div.first_highlight_home div.navi a.active{
	border : 1px solid #414141;
	background-color : #707070;
}

div.hotel_button{
	margin-top : 10px;
}

div.hotel_button a{
	color : #fff;
	border : 2px solid #6f6f6F;
	background-color : #aaa;
	padding : 1px 5px 2px 5px;
	text-decoration : none;
	font-weight : bold;
}

div.hotel_button a:hover{
	background-color : #707070;
}

/* Book your stay */

div.book_stay{
	background: #fff;
	padding : 5px 5px 10px 5px;
	border: 2px solid #6f6f6F;
	width: 274px;
}

div.book_stay label{
	color : #ccc;
}

#listComment{
	margin-top : 15px;
}

div.organisation{
	background-color : #EEEEEE;
	padding : 10px 8px 1px 8px;
}

div.organisation div.name{
	font-weight : bold;
	margin : 0 0 10px 0;
}

div.organisation div{
	margin-bottom : 15px;
}

/* Homepage */


div#right_content .free_box img{
	border : none;
}

.second_highlight_home{
	border-top : 8px solid #bab9be;
	height : 200px;
	margin-bottom : 35px;
}

.second_highlight_home.clr{
	clear : none;
}

#content .second_highlight_home h3{
	font-size: 25px;
	line-height : 25px;
	padding : 0;
}

#btn_back{
	font-size : 12px;
}

/*
.title{
    margin: -267px 0 0 135px !important;
    position: absolute !important;
    text-align: center;
    width: 928px;     

}

.title_h1{
    text-align: center;
    width: 928px;   

}
*/

/* No Slideshow */

.first_highlight_home_slide{
	margin-top : -5px;
	margin-bottom : 5px;
}

.first_highlight_home_slide div{
	width : auto !important;
	font-size : 16px;
	line-height : 20px;
}

.first_highlight_home_slide div.definition{
	margin-left : 40px !important;
	font-style : italic;
}

.scrollable{
	height : auto !important;
	overflow : visible;
}
 
.first_highlight_home_slide{
	padding : 0;
}

.scrollable .items{
	width : 620px;
	position : relative;
	clear : none;
}

/* Right */

.free_box {
	margin : 0 0 18px 0;
}


div.access{
	background-image : url('/bitc/static/minisite/img/monument/ml/picto_clock.png');
	line-height : 25px;
	background-repeat : no-repeat;
	padding-left : 30px;
}

#main_information div.description, #main_information div.todo{
	line-height : 20px;
	text-align : left;
}

div.todo{
	background-color : #eee;
	padding : 10px;
}

/* Stib lines */
div.transport{
	line-height : 28px;
	padding : 0;
	margin : 0;
}

div.M1, div.M2, div.M5, div.M6, div.T3, div.T4, div.T7, div.T19, div.T25, div.T31, div.T32, div.T33, div.T39, div.T44, div.T51, div.T55, div.T81, div.T82, div.T83, div.T92, div.T94, div.T97, div.B12, div.B13, div.B14, div.B15, div.B17, div.B20, div.B21, div.B22, div.B27, div.B28, div.B29, div.B34, div.B36, div.B38, div.B41, div.B42, div.B43, div.B45, div.B46, div.B47, div.B48, div.B49, div.B50, div.B53, div.B54, div.B57, div.B58, div.B59, div.B60, div.B61, div.B63, div.B64, div.B65, div.B66, div.B69, div.B71, div.B72, div.B75, div.B76, div.B77, div.B78, div.B79, div.B80, div.B84, div.B86, div.B87, div.B88, div.B89, div.B95, div.B98{
	height : 28px;
	width : 28px;
	margin : 0 1px 0 0;
	padding : 0;
	float: left;
	background-image : url('/bitc/static/minisite/img/monument/ml/stib_lines.png');
}

div.M1{background-position : -34px 0px;}
div.M2{background-position : -63px 0px;}
div.M5{background-position : -93px 0px;}
div.M6{background-position : -123px 0px;}
div.T3{background-position : -34px -65px;}
div.T4{background-position : -63px -65px;}
div.T7{background-position : -93px -65px;}
div.T19{background-position : -123px -65px;}
div.T25{background-position : -153px -65px;}
div.T31{background-position : -182px -65px;}
div.T32{background-position : -212px -65px;}
div.T33{background-position : -34px -93px;}
div.T39{background-position : -63px -93px;}
div.T44{background-position : -93px -93px;}

div.T51{background-position : -123px -93px;}
div.T55{background-position : -153px -93px;}
div.T81{background-position : -182px -93px;}
div.T82{background-position : -212px -93px;}
div.T83{background-position : -34px -123px;}
div.T92{background-position : -63px -123px;}
div.T94{background-position : -93px -123px;}
div.T97{background-position : -123px -123px;}
div.B12{background-position : -34px -168px;}
div.B13{background-position : -63px -168px;}
div.B14{background-position : -93px -168px;}
div.B15{background-position : -123px -168px;}
div.B17{background-position : -153px -168px;}
div.B20{background-position : -182px -168px;}
div.B21{background-position : -212px -168px;}
div.B22{background-position : -34px -197px;}
div.B27{background-position : -63px -197px;}
div.B28{background-position : -93px -197px;}
div.B29{background-position : -123px -197px;}
div.B34{background-position : -153px -197px;}
div.B36{background-position : -182px -197px;}
div.B38{background-position : -212px -197px;}
div.B41{background-position : -34px -226px;}
div.B42{background-position : -63px -226px;}
div.B43{background-position : -93px -226px;}
div.B45{background-position : -123px -226px;}
div.B46{background-position : -153px -226px;}
div.B47{background-position : -182px -226px;}
div.B48{background-position : -212px -226px;}
div.B49{background-position : -34px -254px;}
div.B50{background-position : -63px -254px;}
div.B53{background-position : -93px -254px;}
div.B54{background-position : -123px -254px;}
div.B57{background-position : -153px -254px;}
div.B58{background-position : -182px -254px;}
div.B59{background-position : -212px -254px;}
div.B60{background-position : -34px -283px;}
div.B61{background-position : -63px -283px;}
div.B63{background-position : -93px -283px;}
div.B64{background-position : -123px -283px;}
div.B65{background-position : -153px -283px;}
div.B66{background-position : -182px -283px;}
div.B69{background-position : -212px -283px;}
div.B71{background-position : -34px -313px;}
div.B72{background-position : -63px -313px;}
div.B75{background-position : -93px -313px;}
div.B76{background-position : -123px -313px;}
div.B77{background-position : -153px -313px;}
div.B78{background-position : -182px -313px;}
div.B79{background-position : -212px -313px;}
div.B80{background-position : -34px -341px;}
div.B84{background-position : -63px -341px;}
div.B86{background-position : -93px -341px;}
div.B87{background-position : -123px -341px;}
div.B88{background-position : -153px -341px;}
div.B89{background-position : -182px -341px;}
div.B95{background-position : -212px -341px;}
div.B98{background-position : -34px -370px;}

		
		