/* BITC (visitbrussels.be) - FOR MINISITE ONLY  */
/* ******************************************** */

/* overwrite screen.css styles */
body.minisite{ /*background: #f6bad6;*/}
#content{background: #fff;}
#loader{ display: none;}
#collapse{ height: 83px;}
#collapse_content{ height: 83px;}
#btn_back{ float: right;}
#expand_content { margin:0 auto; width:1200px; height:355px; background: none; position:relative; top: 35px; display:none}

/* new styles */
#mini_site_top{margin:-10px 0 0 135px; width:930px; position:relative; z-index:1000}
	#mini_site_top img.arrowsep{margin-top:10px;}

#mini_site_nav_ul { background:#f3f3f3; width: 248px; padding:5px 20px 10px 20px; font-family:Georgia, "Times New Roman", Times, serif; font-size: 14px; font-weight: bold; margin:35px 0 22px 0; border-bottom: 1px solid #dfdfdf;}
	#mini_site_nav_ul li{background:transparent url(/bitc/static/minisite/img/test2011/ml/menu_bullet.png) no-repeat left 5px; padding:0 0 6px 20px; margin: 3px 0;}
		#mini_site_nav_ul li a{ text-decoration:none; text-transform:uppercase; color: #f77cb6}
		#mini_site_nav_ul li a:hover{color: #6b3d22}
		
	
	

#mapGlobal { width:620px; float:left; border:1px solid #b0b0b0;}

#mapGlobal .category {width:620px; padding:13px;}
	#mapGlobal .category ul li { float:left; margin:0 18px 13px 0;}
		#mapGlobal .category ul li a { font-size:12px; text-decoration:none; color:#958e88; background:transparent url(/bitc/static/minisite/img/test2011/ml/bg_category_map.jpg) no-repeat left 5px;}
		