/* BITC (visitbrussels.be) - FOR MINISITE ONLY  */
/* ******************************************** */

/* overwrite screen.css styles */
body.minisite{  background: #fff;
	background-image : url('/bitc/static/minisite/img/wineweek/ml/background_body.png');
	background-repeat :repeat-x;
	background-position : top;
}
#content{
	margin-top : 35px;
	margin-bottom : 0;
	padding-top : 10px;
	padding-bottom : 25px;
	/* background-color : #fff; */
	background-image : url('/bitc/static/minisite/img/wineweek/ml/background.png');
	background-repeat : repeat-y;
}
#loader{ display: none;}
#collapse{ height: 83px;}
#collapse_content{ height: 83px;}
#btn_back{ float: right;}
#expand_content { margin:0 auto; width:1200px; height:355px; position:relative; top: 35px; display:none}

#ribbon_bottom{
	background-color : #fff;
}

a.btn_more_info{
	height : 15px;
	padding-top : 3px;
	padding-bottom : 4px;
	background-color : #858bad;
	border : 1px solid #414978;
	font-family : Verdana, arial, sans-serif;
	color : #fff;
	background-image : url(/bitc/static/minisite/img/wineweek/ml/more_info_bg.png);
	font-size : 12px;
	background-repeat : no-repeat;
	background-position : 78px 2px;
}
a.btn_more_info:hover{
	background-color : #414978;
	border : 1px solid #858bad;
	background-image : url(/bitc/static/minisite/img/wineweek/ml/more_info_bg_hover.png);
	background-repeat : no-repeat;
	background-position : 78px 3px;
}

div.first_highlight_home div.navi a:hover{
	background-color : #858bad;
	border : 1px solid #414978;
	font-family : Verdana, arial, sans-serif;
}

div.first_highlight_home div.navi a.active{
	background-color : #858bad;
	border : 1px solid #414978;
	font-family : Verdana, arial, sans-serif; 
}

div.book_stay{
	background-color : #858bad;
	background-image : none;
	padding : 10px 5px 10px 5px;
}

div.book_stay label{
	color : #fff;
}

.second_highlight_home h3{
	height : 24px;
	color : #fff;
}

/* new styles */
#mini_site_top{margin: 0 0 0 135px; width:930px;}
	#mini_site_top img{margin : 0;}
	#mini_site_top img.arrowsep{margin:-3px 0 0 0;}
	#mini_site_top h1, #title h1.title_h1{
		position : absolute;
		text-indent : -3000px;
	}
	


#mini_site_nav_ul { background:#858bad; width: 248px; padding:5px 20px 10px 20px; font-family : Georgia, "Times new roman", serif; font-size: 18px; font-weight: none; margin:35px 0 22px 0; border-bottom: 1px solid #dfdfdf;}
	#mini_site_nav_ul li{background:transparent url(/bitc/static/minisite/img/wineweek/ml/minisite_menu_bullet.png) no-repeat left 6px; padding:0 0 6px 20px; margin: 3px 0;}
		#mini_site_nav_ul li a{
			text-decoration:none;
			/* text-transform:uppercase; */
			color: #fff;
			padding : 1px 5px 1px 5px;
		}
		#mini_site_nav_ul li a:hover{
			background-color: #41497a;
			color : #fff;
		}
		
	
		
		