/* BITC (visitbrussels.be) - FOR MINISITE ONLY  */
/* ******************************************** */

@font-face {
    font-family: 'rosewoodfillpdh';
    src: url('../fonts/rosewood_fill-webfont.eot');
    src: url('../fonts/rosewood_fill-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rosewood_fill-webfont.woff') format('woff'),
         url('../fonts/rosewood_fill-webfont.ttf') format('truetype'),
         url('../fonts/rosewood_fill-webfont.svg#rosewoodfill') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* overwrite screen.css styles */
body.minisite{
/*
background-color: #651123;
background-image : url('/bitc/static/minisite/img/winterwonders/ml/test_bg8.jpg');
*/
background-color: #708F91;
background-image : url('/bitc/static/minisite/img/winterwonders/ml/background.jpg');
background-repeat : no-repeat;
background-position : center top;
}
#content{
	margin-top : 35px;
	margin-bottom : 0;
	padding-top : 10px;
	padding-bottom : 25px;
	/* background-color : #fff; */
	background-image : url('/bitc/static/minisite/img/winterwonders/ml/content_background_6.png');
	background-repeat : repeat-y;
}

#content h1{
	font-family : rosewoodfillpdh, "Times New Roman", Times, serif;
	font-size : 35px;
	font-weight : normal;
	text-transform : none;
	letter-spacing : 1px;
	color : #7a7e95;
}

#content h2{
	font-family : rosewoodfillpdh, "Times New Roman", Times, serif;
	font-size : 26px;
	font-weight : normal;
	text-transform : none;
	letter-spacing : 1px;
	color : #7a7e95;
}

#content h3{
	font-family : rosewoodfillpdh, "Times New Roman", Times, serif;
	font-size : 26px;
	font-weight : normal;
	text-transform : none;
	color : #7a7e95;
	letter-spacing : 1px;
	margin-bottom : 10px;
}

#content h4{
	font-family : Georgia, "Times New Roman", Times, serif;
	font-size : 18px;
	font-weight : bold;
	text-transform : none;
	color : #708F91;
	margin-bottom : 12px;
}

#content h5{
	font-family : Georgia, "Times New Roman", Times, serif;
	font-size : 12px;
	font-weight : bold;
	text-transform : none;
	color : #708F91;
	margin-bottom : 10px;
	margin-top : 12px;
}

#content_main h3{
	font-family : rosewoodfillpdh, "Times New Roman", Times, serif;
	font-size : 18px;
	font-weight : none;
	text-transform : none;
	color : #7a7e95;
	margin : 0 0 10px 0;
}

#content div.first_highlight_home h2{
	font-family : rosewoodfillpdh, "Times New Roman", Times, serif;
	font-size : 35px;
	font-weight : normal;
	text-transform : none;
	letter-spacing : 1px;
	padding : 0 0 0 1px;
	color : #7a7e95;
	/* color : #70b8c0; */
	margin : 0 0 0 0;
}

#content div.first_highlight_home h2 a{
	font-weight : normal;
	color : #7a7e95;
	/* color : #70b8c0; */
	text-decoration : none;
}

#content div.first_highlight_home h2 a:hover{
	text-decoration : underline;
	background-image : none;
}

#content div.first_highlight_home h3{
	font-family : rosewoodfillpdh, "Times New Roman", Times, serif;
	font-size : 18px;
	font-weight : none;
	text-transform : none;
	color : #7a7e95;
	margin : 0 0 10px 0;
}

#content_main div.second_highlight_home h3{
	font-family : rosewoodfillpdh, "Times New Roman", Times, serif;
	font-size : 26px;
	line-height : 26px;
	font-weight : none;
	text-transform : none;
	color : #fff;
	margin-bottom : 6px;
	display : block;
	height : 30px;
}

#listComment{
	margin-top : 25px;
}

div.second_highlight_home h3 a{
	text-decoration : none;
	color : #7a7e95;
	/* color : #70b8c0; */
}

div.second_highlight_home h3 a:hover{
	text-decoration : underline;
}


#loader{ display: none;}
#collapse{ height: 83px;}
#collapse_content{ height: 83px;}
#btn_back{ float: right;}
#expand_content { margin:0 auto; width:1200px; height:355px; background: none; position:relative; top: 35px; display:none}

#ribbon_bottom{
	background-color : #fff;
}

div.second_highlight_home{
	border-top : 6px solid #7a7e95;
}

a.btn_more_info{
	height : 15px;
	padding-top : 5px;
	padding-bottom : 2px;
	background-color : #7a7e95;
	font-family : Georgia, "Times new roman", serif;
	font-weight:bold;
	color : #fff;
	background-image : url('/bitc/static/minisite/img/winterwonders/ml/more_btn_bg.png');
	font-size : 13px;
	line-height : 13px;
	background-repeat : no-repeat;
	background-position : 85px 4px;
}
a.btn_more_info:hover{
	background-color : #708F91;
	background-image : url('/bitc/static/minisite/img/winterwonders/ml/more_btn_bg.png');
	background-repeat : no-repeat;
	background-position : 85px 4px;
}

/* new styles */
#mini_site_top{margin: 0 0 0 135px; width:930px;}
	#mini_site_top img{margin : 0;}
	#mini_site_top img.arrowsep{margin:-3px 0 0 -1px;}
#mini_site_top h1, #title h1.title_h1{
		position : absolute;
		text-indent : -3000px;
}

#mini_site_nav_ul { background:#708F91 url(/bitc/static/minisite/img/winterwonders/ml/menu_background.jpg) no-repeat left bottom; width: 248px; padding:5px 20px 10px 20px; font-family:rosewoodfillpdh, "Times New Roman", Times, serif; font-size: 24px; font-weight: lighter; margin:35px 0 22px 0; border-bottom: 1px solid #939fb7;}
	#mini_site_nav_ul li{background:transparent url(/bitc/static/minisite/img/winterwonders/ml/flocon_menu.png) no-repeat left 3px; padding:0 0 5px 30px; margin: 0 0 3px 0;}
		#mini_site_nav_ul li a{ text-decoration:none; color: #fafafa;}
		#mini_site_nav_ul li a:hover{text-decoration : underline;}
		

div.first_highlight_home div.navi a:hover{
	border : 1px solid #6e85b2;
}

div.first_highlight_home div.navi a.active{
	border : 1px solid #6e85b2;
	background-color : #708F91;
}

/* Book your stay */

div.book_stay{
	background:#949fb7 url(/bitc/static/minisite/img/winterwonders/ml/menu_background.jpg) no-repeat left bottom;
	padding-bottom : 10px;
}

div.book_stay label{
	color : #fff;
}

/* Agenda */

div#agenda{
	background:#949fb7 url(/bitc/static/minisite/img/winterwonders/ml/menu_background.jpg) no-repeat left bottom;
}
div#agenda .ui-datepicker{
	background : none;
}
div#agenda .ui-datepicker-title{
	color : #242424;
}
div#agenda table.ui-datepicker-calendar th{
	color : #242424;
}
div#agenda .ui-state-default{
	color : #aaa;
}
div#agenda .ui-state-active{
	background-color : #eee;
	color : #939fb7;
}
div#agenda .ui-state-hover{
	background-color : #555;
}

/* Shop Article */

div.shop_article{
	width :190px;
	float : left;
	margin : 0 15px 15px 0;
	text-align : center;
}
.title{
    margin: -267px 0 0 135px !important;
    position: absolute !important;
    text-align: center;
    width: 928px;     

}

.title_h1{
    text-align: center;
    width: 928px;   

}