/*IMAGE VALID*/
.validMsg {
	display:none;
}
.selectValidState .validMsg  {
	display:inline;
	margin:5px 0 0 10px;
	width:16px;
	height:24px;
}
/*IMAGE ERROR*/
.errorMsg {
	display:none;
}
.selectRequiredState .errorMsg, .selectRequiredMsg .errorMsg, .selectInvalidFormatState .selectInvalidFormatMsg .errorMsg, .selectMinValueState .selectMinValueMsg .errorMsg, .selectMaxValueState .selectMaxValueMsg .errorMsg, .selectMinCharsState .selectMinCharsMsg .errorMsg, .selectMaxCharsState .selectMaxCharsMsg {
	display:inline;
	margin:5px 0 0 10px;
	width:29px;
	height:23px;
}
/*TEXTE ERROR*/
.selectRequiredMsg, .selectInvalidMsg {
	display: none;
}
.selectRequiredState .selectRequiredMsg, .selectInvalidState .selectInvalidMsg {
	display:block;
	line-height:10px;
	color:#d40072;
	/*margin-left:260px;/*
	font-size:12px;
	/*margin-bottom:15px;*/
	font-weight:normal;
	padding-left:32%;
}
.validSelect {
	border:0;
	width:15px;
	height:16px;
	margin-top:5px;
	margin-left:7px;
	display:none;
}
.textfieldValidState .validSelect, .textareaValidState .validSelect, .selectValidState .validSelect, .checkboxValidState .validSelect, .radioValidState .validSelect, .radioRequiredMsg .validSelect {
	display:inline;
	
}
